/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1649.98px) {
}

@media (max-width: 1399.98px) {
  .instagram__content {
    flex-wrap: wrap;
  }

  .menu {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .slide-2 .main__description,
  .slide-3 .main__description {
    gap: 50px;
  }

  .slide-2 img,
  .slide-3 img {
    height: calc(var(--size) * 0.3);
    margin-top: 20px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .info__inner {
    justify-content: space-evenly;
    gap: 10px;
  }

  .footer__logo {
    margin-left: 5vw;
  }

  .footer__social-buttons {
    margin-right: 5vw;
  }

  .dropdown-toggle,
  .filter-toggle {
    width: 180px;
  }

  .filter-menu {
    width: 200px;
  }

  .dropdown-menu {
    width: 200px;
  }

  .catalogue__header {
    gap: 15px;
  }

  .catalogue__items {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .search-input::placeholder {
    content: "Поиск";
  }

  .slide-2__wrapper h1,
  .slide-3__wrapper h1 {
    font-size: 60px;
  }

  .slide-2 .main__description,
  .slide-3 .main__description {
    gap: 15px;
    flex-direction: column-reverse;
  }

  #slide-2,
  #slide-3 {
    max-width: 90vw;
    text-align: center;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .main__inner {
    min-height: 660px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .catalogue {
    width: 100%;
  }

  .filter-toggle {
    width: 160px;
  }

  .filter-menu {
    width: 180px;
  }

  .slide-2__wrapper {
    margin-top: 10px;
  }

  .greetings {
    max-width: 100%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .info__item {
    padding: 0 30px;
  }

  .info__inner {
    padding: 30px 0;
  }

  .modal h2 {
    font-size: 32px;
  }

  .slide-2__wrapper {
    margin-top: 20px;
  }

  .catalogue__header {
    flex-direction: column;
  }

  .dropdown {
    margin: 0;
  }

  .dropdown-toggle,
  .filter-toggle {
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown-menu,
  .filter-menu {
    width: 100%;
    box-sizing: border-box;
  }

  .slide-2__wrapper h1,
  .slide-3__wrapper h1 {
    font-size: 50px;
  }
  .feedback {
    margin: 65px 0 50px 0;
    padding: 20px 20px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .logo {
    width: 200px;
    transform: scale(1.001);
  }
  .main__inner {
    min-height: 550px;
  }

  .main__title {
    font-size: 48px;
  }

  .main__subtitle {
    font-size: 14px;
  }

  .info__inner {
    gap: 25px;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__content-title {
    margin-bottom: 15px;
    text-underline-offset: 10px;
  }

  .footer__content-item ul li {
    margin-top: 5px;
  }

  .footer__logo {
    margin: 50px 0 0 0;
  }

  .footer__social-buttons {
    flex-direction: row;
    margin: 20px 0;
    order: 2;
  }

  .catalogue__items {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .modal {
    padding: 20px 30px;
  }

  .modal h2 {
    font-size: 28px;
  }

  .modal__button {
    margin-top: 15px;
  }

  .payment-form {
    width: 340px;
    padding: 20px;
  }

  .form_radio_btn label {
    padding: 0;
  }

  .video-container {
    height: calc(var(--size) / 3);
  }
  .slick-initialized .slick-slide {
    min-height: 550px;
  }
  .slide-2__wrapper h1,
  .slide-3__wrapper h1 {
    font-size: 35px;
  }
  .slide-2__wrapper,
  .slide-3__wrapper {
    margin: 0 0 50px 0;
  }

  .slide-2__wrapper button,
  .slide-3__wrapper button {
    min-width: 180px;
  }

  /* раскомментируй это, если в блоке переключателя языка используются флаги */
  .hebrew__btn,
  .russin__btn {
    display: none;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
